body{
    height: 100vh;
    font-family: arial;
    background: linear-gradient(to bottom, rgb(252, 136, 19), rgb(247, 69, 247) )
}

.container{
    margin: auto;
    text-align: center;
    background: linear-gradient(to bottom right, rgb(85, 146, 195), rgb(98, 79, 220));
    border-radius: 20px;
    max-width: 350px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.393);
}
.containers{
    border: 1px solid black;
    padding: 15px;
}

.login{
    border-radius: 20px 20px 0 0;
}

.video{

}

.search{
    border-radius: 0 0 20px 20px;
}

.input-login{
    display: block;
    margin: 10px auto 10px auto;
}